<div class="list_skatelogs">
	<% skatelogs.each do |skatelog| %>

		<div class="skatelog">
			<div class="title">
				<a href="/skatelogs/<%skatelog.id%>"><%=skatelog.title%></a>
				
			</div>

			<div class="profpic">
				<img src="<%=skatelog.user.profpic%>">
			</div>

			<div class="username">
				<p>@<%=skatelog.user.username%></p>
				

			</div>

			<div class="description">
				<%=skatelog.description%>
			</div>

			<%if current_user && skatelog.user_id == current_user.id %>

				<button>
					<a href="">Edit Skatelog</a>
				</button>
				<form class="delete_skatelog" action="/skatelogs/<%=skatelog.id%>" method="POST">
					<input type="hidden" name="_method" method="DELETE">
					<input type="submit" value="Delete Skatelog">
				</form>
			<% end %>	
		</div>

	<% end %>
</div>