<div class="list_skatelogs">
	<% skatelogs.each do |skatelog| %>

		<div class="skatelog">
			<div class="title">
				<a href="/skatelogs/<%skatelog.id%>"><%=skatelog.title%></a>
			</div>

			<div >
				<img class="profpic" src="<%=skatelog.user.profpic%>">
			</div>

			<div class="username">
				<p>@<%=skatelog.user.username%></p>
			</div>

			<div class="description">
				<%=skatelog.description%>
			</div>

			<%if current_user && skatelog.user_id == current_user.id %>

				<button>
					<a href="/skatelogs/<%=skatelog.id%>/edit">Edit Skatelog</a>
				</button>


				<form class="delete_skatelog" action="/skatelogs/<%=skatelog.id%>" method="POST">
					<input type="hidden" name="_method" value="DELETE">
					<input type="submit" value="Delete Skatelog">
				</form>
			<% end %>
		</div>
	<% end %>	
</div>
		<!-- </div> this might not be needed -->